 	<div ng-controller="ListSchedulerHistoryController">
	<div loading-container="tableParams.settings().$loading">
 		<p>
	 		<strong>Page :</strong> {{tableParams.page()}} / {{tableParams.total()/tableParams.count()| number:0}}&nbsp;
	    	<strong>Total :</strong> {{tableParams.total()}} jobs&nbsp; 
	    	
	 		<button ng-click="tableParams.reload()" class="btn btn-primary btn-xs">Reload</button>
	 		<button ng-click="tableParams.sorting({})" class="btn btn-info btn-xs">Clear sorting</button>
    	</p>
		<table ng-table="tableParams" show-filter="true" class="table">
		<tr ng-repeat="job in $data">
			<td data-title="'Spooler Id'" filter="{ 'spoolerId': 'text' }" sortable="spoolerId">
				{{job.spoolerId}}
			</td>
			<td data-title="'Job name'" filter="{ 'jobName': 'text' }" sortable="jobName">
				{{job.jobName}}
			</td>
			<td data-title="'Error'" filter="{ 'error': 'error' }" sortable="error">
				{{job.error}}
			</td>
			<td data-title="'Start Time'" filter="{ 'startTime': 'startTime' }" sortable="startTime">
				{{job.startTime | date : "yyyy-MM-dd HH:mm:ss" }}
			</td>
			<td data-title="'End Time'" filter="{ 'endTime': 'endTime' }" sortable="endTime">
				{{job.endTime | date : "yyyy-MM-dd HH:mm:ss" }}
			</td>
			
		</tr>
		<tr >
          <td ng-if="!($data.length||tableParams.settings().$loading)">
            No Result
          </td>
        </tr>
		</table>
	</div>
    <script type="text/ng-template" id="ng-table/filters/error.html">
        <input type="radio" ng-model="params.filter()[name]" name="error" value="0" selected/> <i class="fa fa-thumbs-up"></i>
        <br />
        <input type="radio" ng-model="params.filter()[name]" name="error" value="1" /> <i class="fa fa-thumbs-down"></i>
    </script>
    <script type="text/ng-template" id="ng-table/filters/startTime.html">
        <input type="text" class="form-control" ng-model="params.filter()[name]" name="startTime" data-date-format="yyyy/MM/dd HH:mm:ss" data-date-type="string" bs-datepicker>
	</script>
	<script type="text/ng-template" id="ng-table/filters/endTime.html">
        <input type="text" class="form-control" ng-model="params.filter()[name]" name="endTime" data-date-format="yyyy/MM/dd HH:mm:ss" data-date-type="string" bs-datepicker>
	</script>