 	<div ng-controller="ListSchedulerJobController">
 	<button ng-click="tableParams.reload()" class="btn btn-default">Reload</button>
 	<button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>
	<div loading-container="tableParams.settings().$loading">
		<span class="navbar-text navbar-right">
	 		<strong>Page :</strong> {{tableParams.page()}} / {{totalPages}}&nbsp;
	    	<strong>Total :</strong> {{tableParams.total()}} jobs&nbsp;
	    </span>
	    
		<table ng-table="tableParams" show-filter="true" class="table">
		<tr ng-repeat="job in $data">
			<td data-title="'Spooler'" filter="{ 'spoolerId': 'text' }" sortable="spoolerId">
				{{job.id.spoolerId}}
			</td>
			<td data-title="'Cluster member'" filter="{ 'clusterMemberId': 'text' }" sortable="clusterMemberId">
				{{job.id.clusterMemberId}}
			</td>
			<td data-title="'Path'" filter="{ 'jobName': 'text' }" sortable="jobName">
				<a href="/#/stats-scheduler-job/spooler/{{job.id.spoolerId}}?job={{job.id.path}}">{{job.id.path}}</a>
			</td>
			<td data-title="'Next start time'" filter="{ 'nextStartTime': 'text' }" sortable="nextStartTime">
				{{job.nextStartTime}}
			</td>
			<td data-title="'Run'" filter="{ 'stopped': 'text' }" sortable="stopped">
				{{job.stopped}}
			</td>
		</tr>
		</table>
	</div>
	</div>