<!DOCTYPE html>
<html ng-app>
<head>
    <title>Jobs</title>
    <link rel="stylesheet" type="text/css" href="app/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/components/ng-table/ng-table.css">
</head>
<body>
 
    <div class="container" ng-controller="JobCtrl">
        <h2>Jobs</h2>
        <input type="search" ng-model="criteria">
        <ul class="unstyled">
            <li ng-repeat="job in jobs | filter:criteria | orderBy :'id'">
                <span>{{job.id}}</span>
            </li>
        </ul>
    </div>
 
<script type="text/javascript" src="app/components/angular/angular.min.js"></script>
<script type="text/javascript" src="app/components/ng-table/ng-table.js"></script>
<script type="text/javascript" src="app/app.js"></script>
</body>
</html>